*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url(hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-weight: 600;
    font-size: 1.15rem;
    margin-left: 15px;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
}

.sidebar .links h4 {
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
}

.links li {
    display: flex;
    align-items: center;
}

.links .li:hover {
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    color: #000;
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}